.App {
  text-align: center;
  background-color: #010100;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  object-fit: cover;
  grid-gap: 10px;
}

.item {
  border-radius: 50%;
  position: relative;
}
.text {
  color: black;
  font-size: 78px;
  font-style: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: bounce 1s;
  opacity: 1;
  align-self: center;
}
.overlay {
  font-size: 80px;
  opacity: 0;
  position: absolute;
  right: 10%;
  bottom: 1%;
  height: 20%;
  -webkit-align-self: center;
  align-self: center;
  z-index: 1;
  width: 80%;
  border-radius: 30%;
}

.item:hover .overlay {
  opacity: 0.9;
  animation: bounce 1.2s;
  animation-fill-mode: forwards;
  border-radius: 50%;
  width: 67%;
  right: 17%;
}

img {
  border-radius: 50%;
}

@keyframes bounce {
  0% {
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: #444444;
    opacity: 0.5;
  }
  50% {
    height: 100%;
    width: 85%;
    right: 7%;
    top: 0%;
    opacity: 0.85;
    border-radius: 50%;
    background-color: white;
  }
  100% {
    height: 100%;
    width: 85%;
    right: 7%;
    top: 0%;
    background-color: #f83839;
    color: black;
  }
}
