#showName {
  font-size: 38px;
}

#showLogo {
  width: 400px;
  height: 400px;
}

.description {
  font-size: 20px;
}

.click {
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
}

.Series {
  background-color: white;
}
