.App {
  text-align: center;
  width: 100%;
  background-color: #282c34;
  padding: 40px;
}

.shawshankImage {
  width: 100%;
  height: 30%;
  padding: 10px;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  color: white;
  box-sizing: border-box;
  width: 100%;
}

.container {
  background-color: #282c34;
  color: white;
  border-top: 2px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2500px 2500px;
  align-items: stretch;
  justify-items: stretch;
  grid-gap: 5px;
  padding: 30px;
  width: 100%;
  height: 100%;
}
