.App {
  text-align: center;
  background-color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1;
  position: relative;
  padding: 0;
  border: 1px solid black;
}

.poster {
  width: 1700px;
  height: 2400px;
}

.overlay {
  color: white;
  background-color: black;
  font-weight: bold;
  font-family: "Bookman Old Style";
  font-size: 80px;
  opacity: 0.85;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 0;
  width: 100%;
  height: 15%;
}

.item:hover .overlay {
  opacity: 0.9;
  animation: bounce 1s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes bounce {
  50% {
    top: 0;
    bottom: 0;
    height: 100%;
    opacity: 0.95;
  }
  100% {
    height: 15%;
    color: black;
    background-color: white;
    opacity: 0.85;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
